annotated-types==0.6.0
asgiref==3.7.2
backports.zoneinfo==0.2.1
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
cryptography==41.0.7
Deprecated==1.2.14
Django==3.0.14
django-pwa==1.1.0
et-xmlfile==1.1.0
gunicorn==21.2.0
idna==3.6
openpyxl==3.1.2
packaging==23.2
pycparser==2.21
pydantic==2.5.3
pydantic_core==2.14.6
PyJWT==2.8.0
pytz==2023.3.post1
requests==2.31.0
sqlparse==0.4.4
typing_extensions==4.9.0
urllib3==2.1.0
vonage==3.13.0
vonage-jwt==1.1.0
whitenoise==6.6.0
wrapt==1.16.0
