annotated-types==0.6.0
asgiref==3.7.2
backports.entry-points-selectable==1.1.1
backports.zoneinfo==0.2.1
CacheControl==0.12.10
cachy==0.3.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.7
cleo==0.8.1
clikit==0.6.2
crashtest==0.3.1
cryptography==35.0.0
debugpy==1.2.1
Deprecated==1.2.14
distlib==0.3.3
Django==3.0.14
django-pwa==1.1.0
docopt==0.6.2
et-xmlfile==1.1.0
filelock==3.3.2
future==0.18.2
gunicorn==21.2.0
html5lib==1.1
idna==3.3
importlib-metadata==3.10.1
jedi==0.15.2
jeepney==0.7.1
keyring==21.8.0
lockfile==0.12.2
msgpack==1.0.2
numpy @ file:///home/runner/.cache/pypoetry/artifacts/0a/f1/63/4e86e206dd78b5ffa1d0b33299c8275c3e1a2411fac9d63320ce69de5f/numpy-1.22.2-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
openpyxl==3.1.2
packaging==20.9
parso==0.5.2
pastel==0.2.1
pexpect==4.8.0
pipreqs-amasad==0.4.10
pkginfo==1.7.1
platformdirs==2.4.0
pluggy==0.13.1
poetry==1.1.11
poetry-core==1.0.7
ptyprocess==0.7.0
pycparser==2.21
pydantic==2.5.2
pydantic-core==2.14.5
pyflakes==2.1.1
PyJWT==2.8.0
pylev==1.4.0
pyparsing==3.0.5
python-jsonrpc-server==0.3.2
python-language-server==0.31.10
pytz @ file:///home/runner/Komo1App/.cache/pypoetry/artifacts/bc/c0/ac/b8ccb2ba4667611cea03fa02f7973d297b2edbd2f4f108787e20917ff3/pytz-2023.3.post1-py2.py3-none-any.whl
requests==2.26.0
requests-toolbelt==0.9.1
rope==0.18.0
SecretStorage==3.3.1
shellingham==1.4.0
six==1.16.0
sqlparse @ file:///home/runner/Komo1App/.cache/pypoetry/artifacts/62/fd/8f/8e3f2b7eace00d68d78781285af8b94e6fbf05daee76e1c82f64b744e1/sqlparse-0.4.4-py3-none-any.whl
toml==0.10.2
tomlkit==0.7.2
typing-extensions @ file:///home/runner/Komo1App/.cache/pypoetry/artifacts/6b/03/1c/cfa538211fe7956e123c57e854ffb518602a6b6c92ea8fbe81bcc664dd/typing_extensions-4.9.0-py3-none-any.whl
ujson==1.35
urllib3==1.26.7
virtualenv==20.10.0
vonage==3.13.0
vonage-jwt==1.1.0
webencodings==0.5.1
wrapt==1.16.0
yapf==0.31.0
yarg==0.1.9
zipp==3.4.1
