.content {
  padding: 5px 10px;
}

.count-field {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 10px;
}
.count {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 10px;
  background-color: green;
  /**#EA2B1F**/
  color: white;
  margin-right: 10px;
  font-size: 14px;
}

.box-form {
  margin-top: 10px;
}
.box-file {
  display: flex;
  flex-direction: row;
  align-items: center;
}

label {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #25A244;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 16px;
  margin-right: 10px;
}

.input-file {
  display: none;
}
#file-name {
  font-size: 14px;
  font-weight: 600;
}

.box-excel {
 width: 10px auto;
 display: flex;
 align-items: center;
 justify-content: center;
 margin: 5px auto;
 background-color: #4AD66D;
 padding: 10px;
 border-radius: 8px;
 color: #208B3A;
}

.box-excel .btn {
 display: flex;
 align-items: center;
 margin-left: 10px;
 padding: 10px 20px;
 color: #fff;
 outline: none;
 border: none;
 font-size: 16px;
 border-radius: 10px;
 background-color: #25A244;
}

.loader {
  width: 40px;
  height: 40px;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color:#fff #0000 #fff #0000;
  border-radius: 50%;
  box-sizing: border-box;
  animation: 1s rotate linear infinite;
}
.loader:before , .loader:after{
  content: '';
  top: 0;
  left: 0;
  position: absolute;
  border: 10px solid transparent;
  border-bottom-color:#fff;
  transform: translate(-8px, 15px) rotate(-35deg);
}
.loader:after {
  border-color: #fff #0000 #0000 #0000 ;
  transform: translate(27px, 4px) rotate(-35deg);
}
 @keyframes rotate {
  100%{    transform: rotate(360deg)}
}