{% extends "adminkomo/index.html" %}
{% load static %}

{% block style %}
 <script defer src="{% static 'adminkomo/js/connexion.js' %}"></script>
 <link rel="stylesheet" href="{% static 'adminkomo/css/connexion.css' %}">
{% endblock %}

{% block title %}Komo1 | Administrateur{% endblock %}

{% block content %}
<div style="display: grid; gap: 10px; flex-direction: column; align-items: center; padding: 10px 20px;">

 <div style="display: flex; flex-direction: row; align-items: end; margin-top: 20px; flex-row: start;">
    <div style="flex-row: start; display: flex; float: left; width: 110px; height: 110px;">
      <img style="width: 100%; height: 100%; border-radius: 50%; object-fit: cover;" src="{% static 'client/img/komo1.jpeg' %}" alt="Komo1">
    </div>
    <h1 style="color: white; font-size: 20px; font-weight: normal; margin-top: 8px; flex: end; margin-bottom: 10px;">
      Administration
    </h1>
 </div>
 <h2 style="width: 100%; display: flex; text-align: start; float: left; flex-row: start; color: white; font-size: 33px; margin-bottom: 10px;">Bienvenue Admin !</h2>
 <div style="margin: 50px auto; display: flex; flex-direction: column; align-items: center; justify-content: center; min-width: 100%; padding: 10px 0">
  <form style="width: 100%;" method="post">
    {% csrf_token %}
    <div style="display: flex; flex-direction: column; margin-bottom: 18px; width: 100%;">
      {% if messages %}
      {% for message in messages %}
      <p id="erreur" style="color: #D00000; font-size: 13px;">{{ message }}</p>
      {% endfor %}
      {% endif %}
      {{ form }}
    </div>
    <button style="width: 100%; height: 50px; font-size: 14px; font-weight: 700; background-color: #036394; color: white; border: none; outline: none; border-radius: 8px;" type="submit" >Connexion</button>
  </form>
 </div>

</div>

<div style="position: absolute; bottom: 10px; right: 20px;">
  <p style="color: white; font-size: 10px;">© 2023 <strong>Komo1</strong> tous droits réservés | powered by Prima</p>
</div>
{% endblock %}