{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="format-detection" content="telephone=no" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'django_project/css/base.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  
  {% block style %}{% endblock %}
  {% block script %}{% endblock %}
  
  <title>{% block title %}{% endblock %}</title>
  <link rel="manifest" href="{% static 'manifest.json' %}">

  <!-- Ajouter le service worker -->
  <script>
    if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('{% static 'sw.js' %}')
          .then(registration => console.log('Service Worker enregistré avec succès:', registration))
          .catch(error => console.log('Erreur d\'enregistrement du Service Worker:', error));
    }
  </script>
</head>
<body style="background-color: #223040; font-family: 'Inter', sans-serif;">
  {% block content %}{% endblock %}
</body>
</html>