{% load static %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'django_project/css/header.css' %}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
{% endblock %}

<header style="background-color: #2A3E54;">
  <div class="header-container">
    <div>
      {% include 'client/logo.html' %}
    </div>
    <div>
      <a style="color: #8D97A3;" href="{% url 'deconnexion' %}">
         <span class="material-symbols-outlined">
         logout
         </span>
      </a>
    </div>
  </div>
</header>