.form-control {
  height: 50px;
  border: none;
  border-radius: 8px;  
  font-size: 16px; 
  padding: 0 8px; 
  outline: none;
  background-color: #2A3E54;
  color: white;
}
input:focus {
 border: 2px solid skyblue;
}

label {
  color: white; 
  font-weight: normal; 
  font-size: 12px; 
  font-weight: 500; 
  margin-bottom: 5px;
  margin-top: 5px;
}

.helptext {
  display: none;
}