@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
 padding: 0;
 margin: 0;
 box-sizing: border-box;
 font-family: 'Inter', sans-serif;
}

body {
 background: #f5f5f5;
 font-family: 'Inter', sans-serif;
}

header {
 padding: 10px;
}

.header {
 width: 100%;
 margin-bottom: 10px;
}
.header h1 {
 font-size: 25px;
 font-weight: 700;
 color: #036394;
}

.nav {
 width: 100%;
 height: 50px auto;
 padding: 10px 0;
}
.nav-list {
 display: flex;
 align-items: center;
 justify-content: start;
}
.nav-list li {
 list-style: none;
 padding: 10px 0;
}
.nav-list li a {
 margin-right: 12px;
 font-size: 12px;
 padding: 5px;
 border: 1px solid #036394;
 border-radius: 8px;
 text-decoration: none;
 outline: none;
 color: #036394;
}